.card{
    margin-top: 2vh;
    &:hover{
        opacity: 0.7;
    }
    .card-body{
        border: black solid 5px;
        border-radius: 5px;
    }
    h3{
        @include texto ($color: black, $size: 2rem, $peso: bolder);
    }    
    p{
        @include texto ($color: rgb(0, 0, 0), $size: 1.2rem);
    }
    iconify-icon{
        @include texto ($color: black, $size: 2rem);
        margin-top: 3px;
        margin-bottom: 5px;
    }
    a{
        @include texto ($color: black, $size: 1.2rem);
        &:hover{        
            border: black solid 3px;
        }
    }
}

@media screen and (max-width: 576px){
    .card{
        h3{
            @include texto ($color: black, $size: 1.3rem, $peso: bolder);
        }    
        p{
            @include texto ($color: rgb(0, 0, 0), $size: 1rem);
        }
        iconify-icon{
            @include texto ($color: black, $size: 1.3rem);
        }
        a{
            @include texto ($color: black, $size: 1rem);
        }
    }
}